/*==============================
HEADER
================================*/
body {
	font-family: 'Lato';
}

.header {
	position: relative;
	height: 785px;
	margin-bottom: 140px;
	display: block;
	background: url('../img/header.png') 0px 0px / contain no-repeat;
}

.logo-img {
	position: absolute;
	width: 70px;
	height: 70px;
	left: 50%;
	top: 160px;
	margin-left: -35px;
	background: url('../img/logo-img.png');
}

.logo-text {
	position: absolute;
	width: 570px;
	left: 50%;
	top: 286px;
	margin-left: -285px;
	text-align: center;
	color: #fff;
}

.logo-text .main-title {
	padding-bottom: 10px;
	font-size: 46px;
	text-transform: uppercase;
	word-spacing: 10px;
}

.logo-text .intro-text {
	line-height: 24px;
}

.textbox {
	padding-top: 20px;
}

.textbox.background-one {
	background: url('../img/services.png') 0px 0px / contain no-repeat;
	height: 488px;
	padding-top: 42px;
}

.textbox .inner-wrapper {
	position: relative;
	width: 560px;
	padding: 76px 170px;
	margin: 0 auto;
	margin-bottom: 160px;
	border: 2px solid;
	border-top: none;
	text-align: center;
}

.textbox .inner-wrapper h2 {
	position: absolute;
	left: 50%;
	top: -52px;
	width: 405px;
	height: 37px;
	margin-left: -195px;
	font-size: 34px;
	letter-spacing: 4px;
	text-transform: uppercase;
	background: transparent;
}

.textbox .inner-wrapper p {
	font-size: 15px;
	line-height: 23px;
}

.upper-border-left, .upper-border-right {
	position: absolute;
	top: 0px;
	width: 240px;
	border-bottom: 2px solid;
}

.upper-border-left {
	left: 0px;
}

.upper-border-right {
	right: 0px;
}

.activity {
	margin-bottom: 90px;
}

.activity h3 {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.icons {
	background: url('../img/sprites.png');
	width: 80px;
	height: 91px;
	margin: auto;
	margin-bottom: 36px;
}

.icons.design {
	background-position: 0px 0px;
}

.icons.development {
	background-position: 0px 182px;
}

.icons.management {
	background-position: 0px 91px;
}
/*buttons grid*/
.buttons {
	margin-bottom: 138px;
}
.buttons-wrapper {
	margin-bottom: 1%;
}

.small-box, .big-box {
	display: block;
	position: relative;
	float: left;
	margin-right: 1%;
}

.small-box {
	width: 30%;
	height: 237px;
}

.small-box:last-child {
	margin-right: 0%;
}

.big-box {
	width: 38%;
	height:237px;
}

.small-box .text, .big-box .text{
	position: absolute;
	bottom: 41px;
	left: 48px;
	color: #fff;
	font-size: 2vw;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight: bold;
}

.btns-sprite{
	background: url("../img/buttonsSprite.png");
}
.btns-sprite.topworks {
	background-position: 0 0;
}
.btns-sprite.joint {
	background-position: 558px 0;
}
.btns-sprite.market {
	background-position: 1370px 0;
}
.btns-sprite.worktop {
	background-position: 0px 238px;
}
.btns-sprite.lable {
	background-position: 560px 238px;
}
.btns-sprite.kyiv {
	background-position: 1369px 238px;
}
/*==============================
REUSABLE
================================*/
.border-brown {
	border-color: #3c3c3c;
}

.font-brown {
	color: #3c3c3c
}

.border-white {
	border-color: #fff;
}

.font-white {
	color: #fff;
}

.etc {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/*==============================
CLEARFIX
================================*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}